body{
  background-color: red;
}
#pong{
  border: 2px solid rgb(9, 83, 168);
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#resetB{
  cursor: pointer;
  color: red;
}
